.innings-table {
  border: 2px solid black;
  height: 2rem;
  border-collapse: collapse;
  font-size: 1.2em;
}

.innings-table th {
  color: white;
  background-color: black;
  padding: 0.1rem 0.25rem;
}

.innings-table td {
  padding: 0.25rem 0.5rem;
  border: 2px solid black;
  text-align: center;
}

.team-toggles {
  margin: 1rem 0;
}

.team-toggle {
  position: relative;
  width: 50%;
  text-align: center;
  padding: 0.5rem 0;
  border-style: solid;
  border-color: black;
  border: 2px solid black;
  font-weight: bold;
  user-select: none;
}

.team-toggle-active {
  opacity: 1;
}

.team-toggle-inactive {
  opacity: 0.5;
}
