.field-container {
  position: relative;
  text-align: center;
}

#field-img {
  height: 45vw;
  width: 45vw;
  border: 1px solid black;
}

.base {
  position: absolute;
  background-color: white;
  border: 2px solid black;
  width: 1.5vw;
  height: 1.5vw;
  transform: rotate(45deg);
}

.occupied {
  background-color: #F4CA16;
}

#first-base {
  top: 29.5vw;
  left: 30vw;
}

#second-base {
  top: 20vw;
  left: 21.75vw;
}

#third-base {
  top: 29.5vw;
  left: 13.4vw;
}

.fielder {
  width: 100%;
  position: absolute;
  font-weight: 600;
}

#p {
  top: 28.5vw;
  left: 0vw;
}

#c {
  top: 42vw;
  left: 0vw;
}

#first {
  top: 25vw;
  left: 10vw;
}

#second {
  top: 20vw;
  left: 5vw;
}

#ss {
  top: 20vw;
  left: -5vw;
}

#third {
  top: 25vw;
  left: -10vw;
}

#lf {
  top: 12.5vw;
  left: -15vw;
}

#cf {
  top: 6.25vw;
  left: 0vw;
}

#rf {
  top: 12.5vw;
  left: 15vw;
}
