.field-container {
  position: relative;
  text-align: center;
  background-color: #C0E8D5;
  border: 1px solid black;
  padding: 0.5rem;
  user-select: none;
}

#field-img {
  height: 45vw;
  width: 45vw;
}

.base {
  position: absolute;
  background-color: white;
  border: 2px solid black;
  width: 1.5vw;
  height: 1.5vw;
  transform: rotate(45deg);
  z-index: 10;
}

.occupied {
  background-color: #F4CA16;
}

#first-base {
  top: 30vw;
  left: 30.25vw;
}

#second-base {
  top: 20.5vw;
  left: 22vw;
}

#third-base {
  top: 30vw;
  left: 14vw;
}

.fielder {
  width: 100%;
  position: absolute;
  font-weight: 600;
}

#p {
  top: 29vw;
  left: 0vw;
}

#c {
  top: 42.5vw;
  left: 0vw;
}

#first {
  top: 26vw;
  left: 9vw;
}

#second {
  top: 21vw;
  left: 5vw;
}

#ss {
  top: 21vw;
  left: -5vw;
}

#third {
  top: 26vw;
  left: -9vw;
}

#lf {
  top: 13vw;
  left: -13vw;
}

#cf {
  top: 7vw;
  left: 0vw;
}

#rf {
  top: 13vw;
  left: 13vw;
}
