.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.margin-1 {
  margin: 1rem;
}

.margin-top-half {
  margin-top: 0.5rem;
}

.margin-right-half {
  margin-right: 0.5rem;
}

.margin-right-full {
  margin-right: 1rem;
}

.border-all {
  border: 2px solid black;
}

.border-top {
  border-top: 2px solid black;
}

.border-right {
  border-right: 2px solid black;
}

.border-bottom {
  border-bottom: 2px solid black;
}

.border-left {
  border-left: 2px solid black;
}
