@import "~react-bootstrap-typeahead/css/Typeahead";

html, body {
  height: 100%;
  background-color: #C0E8D5;
}

* {
  font-family:Arial, Helvetica, sans-serif;
}

@import "_bootstrap";
@import "_box";
@import "_control";
@import "_dropzone";
@import "_field";
@import "_init";
@import "_layout";
@import "_play";
@import "_teamSetup";
