.game-info {
  width: 16.75rem;
}

.game-info * {
  user-select: none;
}

.game-info-title {
  font-weight: bold;
  font-style: italic;
  font-size: 0.8em;
  padding: 0.5rem 0 0.1rem 0;
  text-decoration: underline;
}

.game-info-item {
  margin-bottom: 0.5rem;
}

.inning-status {
  color: white;
  background-color: black;
  font-weight: bold;
  padding: 0.4rem 0;
}

.current-player-name {
  width: 6rem;
  padding-left: 0.5rem;
  font-size: 1.25em;
}

.current-player-stat {
  margin: 0.15rem;
  border: 1px solid black;
}

.current-player-table {
  border-collapse: collapse;
  margin: 0.5rem;
}

.current-player-table tr {
  border: 2px solid black;
}

.current-player-table th {
  opacity: 0.7;
  font-weight: bold;
  padding: 0.25rem;
}

.current-player-table td {
  padding: 0.25rem;
}

.current-player-text {
  padding: 0.25rem;
  opacity: 0.7;
}

.play-descriptor {
  background-color: white;
  height: 10.25rem;
  padding: 0 0.6rem;
  overflow-y: scroll;
}

.control-panel {
  background-color: lightcyan;
  height: 11.25rem;
}

.control-item {
  margin-bottom: 1rem;
}
