.header {
  width: 100%;
  color: #7CB9E8;
  background-color: #27346F;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  user-select: none;

  a {
    text-decoration: underline;
    cursor: pointer;
    margin-right: 1rem;
  }

  b {
    cursor: pointer;
  }

  a:hover, b:hover {
    color: cyan;
  }
}
