.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.absolute-center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.padding-half {
  padding: 0.5rem;
}

.padding-1 {
  padding: 1rem;
}

.margin-1 {
  margin: 1rem;
}

.margin-half {
  margin: 0.5rem;
}

.margin-top-half {
  margin-top: 0.5rem;
}

.margin-right-half {
  margin-right: 0.5rem;
}

.margin-right-75 {
  margin-right: 0.75rem;
}

.margin-right-full {
  margin-right: 1rem;
}

.margin-left-half {
  margin-left: 0.5rem;
}

.border-all {
  border: 2px solid black;
}

.border-top {
  border-top: 2px solid black;
}

.border-right {
  border-right: 2px solid black;
}

.border-bottom {
  border-bottom: 2px solid black;
}

.border-left {
  border-left: 2px solid black;
}
