.team-view {
  width: 47.5vw;
  border: 1px solid black;
  text-align: center;
}

.team-selects {
  width: 100vw;
  justify-content: space-evenly;
}

.team-select {
  width: 16rem;
  font-size: 1.25rem;
  user-select: none;
  background-color: lightcyan;
  border-color: black;
}

.switch-sides {
  cursor: pointer;
}

.player-list {
  columns: 2;
  text-align: left;
  display: inline-block;
  margin: 0.5rem;

  li {
    margin-right: 1rem;
    margin-bottom: 0.25rem;
  }
}

.team-title {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5rem 0;
  margin: 0.5rem 1rem;
}

.sub-label {
  margin: 0.5rem;
  text-decoration: underline;
  opacity: 0.75;
}

.starters {
  margin: 1rem;
  padding: 1rem;
  border-top: 1px dashed black;
}

.starter-table {
  margin: 1rem auto;
  border: 1px solid black;

  th {
    padding: 0.5rem;
    border: 1px solid black;
  }

  td {
    border: 1px solid black;
  }
}

.select-position {
  padding: 6px 8px;
  width: 4rem;
  border-color: rgb(206, 212, 218);
}
