@import "node_modules/react-bootstrap-typeahead/css/Typeahead";

html, body {
  height: 100%;
  background-color: #C0E8D5;
  margin: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

@import "_bootstrap";
@import "_box";
@import "_dropzone";
@import "_elements";
@import "_field";
@import "_gameInfo";
@import "_header";
@import "_init";
@import "_layout";
@import "_slider";
